/*
 * copyright (c) 2020 the zmk contributors
 *
 * spdx-license-identifier: mit
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
//&kp ESC   &kp N1 &kp N2 &kp N3   &kp N4   &kp N5                     &kp N6 &kp N7   &kp N8    &kp N9  &kp N0   &kp MINUS

            bindings = <
&none         &none  &none  &none    &none    &none                      &none  &none    &none     &none   &none    &none
&kp ESC       &kp Q  &kp W  &kp E    &kp R    &kp T                      &kp Y  &kp U    &kp I     &kp O   &kp P    &kp BSPC
&mt LCTRL TAB &kp A  &kp S  &kp D    &kp F    &kp G                      &kp H  &kp J    &kp K     &kp L   &kp SEMI &kp SQT
&kp LSHFT     &kp Z  &kp X  &kp C    &kp V    &kp B    &none   &none     &kp N  &kp M    &kp COMMA &kp DOT &kp FSLH &mt RSHFT RET
                     &kp LALT &none  &mo 2    &mt LGUI SPACE   &kp SPACE &mo 1  &none    &kp RGUI
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
//&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2      &none             &bt BT_CLR                       &none      &none     &none     &kp EQUAL &kp BSLH  &kp GRAVE

            bindings = <
&none   &none    &none    &none    &none    &none                   &none     &none      &none     &none     &none       &none
&trans  &kp N1   &kp N2   &kp N3   &kp N4   &kp N5                  &kp N6    &kp N7     &kp N8    &kp N9    &kp N0      &kp GRAVE
&trans  &kp F1   &kp F2   &kp F3   &kp F4   &kp F5                  &kp LEFT  &kp DOWN   &kp UP    &kp RIGHT &none       &kp BSLH 
&trans  &kp F6   &kp F7   &kp F8   &kp F9   &kp F10  &none   &none  &none     &kp MINUS  &kp EQUAL &kp LBKT  &kp RBKT    &trans
                          &trans   &none    &trans   &trans &trans  &trans    &none      &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
//&trans  &trans  &trans  &trans  &trans  &trans                       &none    &none    &none    &kp EQUAL &kp BSLH &kp GRAVE

            bindings = <
&none   &none        &none        &none        &none  &none                       &none    &none    &none    &none     &none    &none
&trans  &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &none  &bt BT_CLR                  &none    &none    &none    &none     &none    &trans
&trans  &bt BT_SEL 3 &bt BT_SEL 5 &none        &none  &none                       &none    &none    &none    &none     &none    &trans
&trans  &none        &none        &none        &none  &none     &none    &none    &none    &none    &none    &none     &none    &trans
                                  &trans       &none  &trans    &trans   &trans   &trans   &none    &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
